<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" packagingData="true" scan="true" scanPeriod="2 seconds">
	<jmxConfigurator />
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>test.log</file>
		<append>false</append>
		<immediateFlush>true</immediateFlush>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ALL</level>
		</filter>
		<encoder>
			<pattern>%-5level %-40logger{40} [%thread] %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ALL</level>
		</filter>
		<withJansi>true</withJansi>
		<encoder>
			<pattern>%-5level %-40logger{40} [%thread] %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="org.reflections" level="INFO" />
	<logger name="ascelion.config" level="INFO" />

	<root level="INFO">
		<appender-ref ref="FILE" />
		<appender-ref ref="CONSOLE" />
	</root>
</configuration>
